*{
    margin: 0;
    padding: 0;
    font-family: sans-serif; 
}

.fundo {
height: 100vh;
background-image: linear-gradient(rgba(73, 78, 119, 0.8), rgba(5, 69, 112, 0.8)),url(/Front-end/CoolAdmin-master/media/policia-maritima.jpg);
background-position: center;
background-size: cover;
overflow-x: hidden;
position: relative;
opacity: 0.8;
}

.btnlogin{
border: 0;
background: #2691d9;
display: block;
margin: 20px auto;
text-align: center;
border: 2px solid #2691d9;
padding: 14px 40px;
outline: none;
color: #EFEFF0;
border-radius: 24px;
transition: 0.25s;
cursor: pointer;
}

.btnlogin:hover{
background-color: #EFEFF0;
color:  #2691d9;
border: 8px solid #EFEFF0;
}

.center{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 400px;
background: transparent;
border-radius: 20%;
}

.center h1{
text-align: center;
color:  #2691d9;
padding: 0 0 20px 0;
border-bottom: 1px solid silver);
}

.center form{
padding: 0 40px;
box-sizing: border-box;
}

form .txt_field{
position: relative;
border-bottom: 2px solid  #2691d9;
margin: 30px 0;
}

.txt_field input{
width: 100%;
padding: 0 5px;
height: 40px;
font-size: 16px;
border: none;
background: none;
outline: none;
color: rgb(255, 255, 255);
}

.txt_field label{
position: absolute;
top: 50%;
left: 5px;
color: #adadad;
transform: translateY(-50%); 
font-size: 16px;
pointer-events: none;
transition: 0.5s;
}

.txt_field span::before{
content: '';
position: absolute;
top: 40px;
left: 0;
width: 0%;
height: 2px;
background:#2691d9;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
top: -5px;
color: #2691d9;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
width: 100%;
}


form #email_field{
    position: relative;
    border-bottom: 2px solid  #2691d9;
    margin: 30px 0;
    }
    
    #email_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: rgb(255, 255, 255);
    }
    
    #email_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%); 
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
    }
    
    #email_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background:#2691d9;
    }
    
    #email_field input:focus ~ label,
    #email_field input:valid ~ label{
    top: -5px;
    color: #2691d9;
    }
    
    #email_field input:focus ~ span::before,
    #email_field input:valid ~ span::before{
    width: 100%;
    }